.slide-1 {
    background-image: url('../images/01_bg.png');
    .item-image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../images/01_light.png');
    }
    .item-text {
        width: 100%;
        color: #e7d9bf;
        font-size: 1.0rem;
        font-weight: bold;
        margin-top: 0rem;
        margin-bottom: .6rem;
        text-align: center;
    }
}
