.slide-3 {
    background-image: url('../images/03_bg1.png');
    background-size: auto 100%;
    background-repeat: no-repeat;

    .item-image {
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item-god {
        background-image: url('../images/03_god.png');
        background-position: center;
        // background-size: contain;
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 20.4vh;
        bottom: 15.6vh;
        left: 0;
        right: 0;
    }
    .item-title {
        background-image: url('../images/03_title.png');
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: absolute;
        top: 10vh;
        width: 100%;
        height: 11vh;
    }
    .item-hands {
        background-image: url('../images/03_hands.gif');
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        position: absolute;
        height: 30vh;
        width: 100%;
        top: 26.7vh;
        left: 2px;
    }
    .item-btn {
        cursor: pointer;
        background-image: url('../images/03_btn.png');
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 6vh;
        width: 100%;
        height: 13vh;
    }
    .item-cloud {
        background-image: url('../images/03_cloud.png');
        background-repeat: no-repeat;
        width: 20vw;
        height: 19vw;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
    }
    .item-cloud-1 {
        left: 0;
        top: 23vh;
    }
    .item-cloud-2 {
        left: 0;
        top: 68vh;
    }
    .item-cloud-3 {
        right: 0;
        top: 23vh;
        transform: scaleX(-1);
    }
    .item-cloud-4 {
        right: 0;
        top: 68vh;
        transform: scaleX(-1);
    }
    .item-text {
        width: 18rem;
        color: #fff;
        font-size: .6rem;
        opacity: .75;
        // font-weight: bold;
        position: absolute;
        top: 10vw;
        left: 17vw;
        width: 70vw;
        margin: 0 auto;
        text-align: center;
    }
}