.slide-4 {
    background-image: url('../images/04_bg1.png');
    background-size: auto 100%;
    background-repeat: no-repeat;

    .item-image {
        background-position-x: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item-cloud {
        background-image: url('../images/03_cloud.png');
        background-repeat: no-repeat;
        width: 20vw;
        height: 19vw;
        background-position: center;
        background-size: contain;
        position: absolute;
    }
    .item-cloud-1 {
        left: 0;
        top: 23vh;
    }
    .item-cloud-2 {
        left: 0;
        top: 62vh;
    }
    .item-cloud-3 {
        right: 0;
        top: 23vh;
        transform: scaleX(-1);
    }
    .item-cloud-4 {
        right: 0;
        top: 62vh;
        transform: scaleX(-1);
    }
    .item-form {
        width: 195px;
        height: 40px;
        margin: 0 auto;
        margin-top: 36vh;

        input,
        select {
            background-image: url('../images/04_btn_bg.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid rgb(170, 93, 64);
            border-radius: 2px;
            height: 40px;
            line-height: 40px;
            font-size: 15px;
            padding: 0 12px;
            margin-bottom: 30px;
            color: #fff;
            // font-size: 24px;
        }
        input::-webkit-input-placeholder,
        select {
            color: #f7f397;
        }
    }
    .item-btn {
        cursor: pointer;
        background-image: url('../images/04_btn.png');
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 9vh;
        width: 100%;
        height: 13vh;
    }
    .item-drawing {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .9);
        display: none;

        img {
            width: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}