@charset "UTF-8";

.loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;

    .loading-content {
        opacity: 1;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            margin: 0;
            letter-spacing: 2px;
            color: #fff;
        }
        .loaded-text {
            animation: flash1 1s infinite linear;
            display: none;
        }

        .loading-line {
            width: 1px;
            height: 30px;
            background-color: #fff;
            margin: 10px auto;
            background-image: -webkit-linear-gradient(top, #ffffff, #484ed3);
        }

        img {
            animation: loadingAni 3s infinite linear;
            width: 25px;
        }
    }
}

.masked{
    background-image: -webkit-linear-gradient(left, #484ed3, #ffffff 25%, #484ed3 50%, #ffffff 75%, #484ed3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: masked-animation 4s infinite linear;
}

@keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}

@keyframes flash1 {
    0%  {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loadingAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
